<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}Swiss Affinity{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <link href="{{ asset('frontend/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ asset('frontend/css/themify-icons.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('frontend/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('frontend/css/flexslider.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('frontend/css/lightbox.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('frontend/css/theme-fire.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('frontend/css/custom.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>

<body class="btn-rounded">
    <div class="nav-container">
        <nav>
            <div class="nav-utility">
                <div class="module left">
                    <span class="sub">Leader de l'organisation événementielle pour célibataires en Suisse romande</span>
                </div>
                <div class="module left">
                    <i class="ti-email">&nbsp;</i>
                    <span class="sub">contat@swiss-affinity.ch</span>
                </div>
                <div class="module right">
                    {% if is_granted("ROLE_USER") %}
                        <a class="btn btn-sm" href="{{ path('fos_user_security_logout') }}">Logout</a>
                    {% else %}
                        <a class="btn btn-sm" href="{{ path('fos_user_security_login') }}">Login</a>
                    {% endif %}

                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="btn btn-sm" href="{{ path('sonata_admin_dashboard') }}">Administration</a>
                    {% endif %}
                </div>
            </div>
            <div class="nav-bar">
                <div class="module left">
                    <a href="{{ path('homepage') }}">
                        <img class="logo logo-light" alt="Foundry" src="{{ asset('frontend/img/logo.png') }}">
                        <img class="logo logo-dark" alt="Foundry" src="{{ asset('frontend/img/logo.png') }}">
                        Swiss Affinity
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li>
                                <a href="{{ path('homepage') }}">Home</a>
                            </li>
                            <li>
                                <a href="#">Events</a>
                            </li>
                        </ul>
                    </div>
                    {% block location_selection %}{% endblock %}
                    <div class="module widget-handle language left">
                        <ul class="menu">
                            <li class="has-dropdown">
                                <a href="#">EN</a>
                                <ul>
                                    <li>
                                        <a href="#">FR</a>
                                    </li>
                                    <li>
                                        <a href="#">DE</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="main-container">
        {% block main_container %}
        {% endblock %}

        {% block footer %}
            <footer class="footer-2 bg-dark text-center-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="#"><img class="image-xxs fade-half" alt="Pic" src="{{ asset('frontend/img/logo.png') }}"></a>
                        </div>
                        <div class="col-sm-4 text-center">
                                <span class="fade-half">
                                    © Copyright 2015 - All Rights Reserved
                                </span>
                        </div>

                        <div class="col-sm-4 text-right text-center-xs">
                            <ul class="list-inline social-list">
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-dribbble"></i></a></li>
                                <li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </div>

    {% block error_announcement %}
        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="modal-strip bg-dark reveal-modal">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 overflow-hidden">
                            <i class="ti-announcement icon icon-sm pull-left color-primary"></i>
                            <p class="mb0 pull-left"><strong>{{ flash_message }}</strong></p>
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
                <i class="ti-close close-modal"></i>
            </div>
        {% endfor %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('frontend/js/jquery.min.js') }}"></script>
        <script src="{{ asset('frontend/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('frontend/js/flexslider.min.js') }}"></script>
        <script src="{{ asset('frontend/js/lightbox.min.js') }}"></script>
        <script src="{{ asset('frontend/js/smooth-scroll.min.js') }}"></script>
        <script src="{{ asset('frontend/js/parallax.js') }}"></script>
        <script src="{{ asset('frontend/js/scripts.js') }}"></script>
    {% endblock %}
</body>
</html>